.App {
  text-align: center;
}

select {
    background-color: white;
    color: black;
    border-radius: 10%;
}

option {
    background-color: white;
    color: black;
    border-radius: 10%;    
}

.currency-span select {
    background-color: rgb(171, 224, 171);
    border-radius: 5%;
    border-color: transparent;
    color: white;
}

.currency-span option {
    background-color: rgb(171, 224, 171);
    border-radius: 5%;
    border-color: transparent;
    color: white;
}
.currency-span select:hover {
    cursor: pointer;
}

.quantity-input {
    display: flex;
    gap: 0.5rem;
}

.quantity-input span {
    margin-left: 1.5rem;
}

option {
    cursor: pointer;
    color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
